@font-face {
  font-family: "satoshi";
  src: url("./WEB/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "satoshi";
  src: url("./WEB/fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "satoshi";
  src: url("./WEB/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
